certifi==2019.6.16
chardet==3.0.4
Click==7.0
ephem==3.7.6.0
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
Logbook==1.4.3
MarkupSafe==1.1.1
python-dateutil==2.8.0
ratelimiter==1.2.0.post0
Represent==1.6.0
requests==2.22.0
six==1.12.0
spacetrack==0.13.3
urllib3==1.25.3
Werkzeug==0.15.5
