* {
	font-family: Arial;
	box-sizing:border-box;
	overflow-x: hidden;
}

body {
	background-color: #000;
}


canvas {
	position:absolute;
}

.noClick {
	pointer-events: none;
	cursor: not-allowed;
	opacity:0.3;
}

.sidenav {
  height: 100%;
  width: 20%;
  border-right: 2px solid white;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
  padding: 6px 8px 6px 36px;
  z-index: 2;
}

label {
  display: block;
  padding-left: 10%;
  margin-right: 20%;
  text-indent: -15px;
  height: 30px;
  overflow: hidden;
}

input {
  width: 50px;
  height: 15px;
  margin: 10px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  float: right;
  
}

.splash {
	padding: 3em;
	position:absolute;
	background-color:#fff;
	color:#222;
	left:25vw;
	top: 10vh;
	width:50vw;
	height: 80vh;
	z-index:200;
	transition: all 0.3s;
}

.splash h1 {
	color: black;
}

.splash .btn {
	margin-left:auto;
	margin-right:auto;
	display:block;
	text-align:center;
	width:6em;
	color: #ddd;

	padding:1em 0 1em 0;
	font-size:200%;
	cursor:pointer;
	background-color: #111;
	transition: 0.2s all ease;
}

.splash .btn:hover {
	background-color: #eee;
	color:#222;
	transition: 0.1s all ease;
}


path:hover {
	fill-opacity: 1;
}

.tags {
	position:absolute;
	left: 20px;
	bottom:40px;
}

h1 {
	text-align:center;
	font-size: 1em;
	color:#333;
	padding-top:16px;
	margin:0;
}