* {
	font-family: Bookman;
	box-sizing:border-box;
}

body {
	background-color: #000;
	overflow-y: hidden;
	margin: 0;
}


canvas {
	position:absolute;
	width: 100%;
	height: 100%
}

/* the sidenave holds all of the buttons to display spacecraft and ground sites*/
.sidenav {
  width: 0%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #000;
  background-color: rgba(0,0,0,.5);
  overflow-x: hidden;
  padding-left: 20px;
  color: white;
  transition: 1.5s;
  visible: false;
  scrollbar-width: none; /*for firefox*/
}

.spacecraftCheck {}

.gsCheck {}

.sidenav .topTitle {
	top: 0%;
	height: 20%;
}

.sidenav .topContent {
	top: 14%
	height: 22%;
}

.sidenav .bottomTitle {
	top: 37%
	height: 20%;
}

.sidenav .bottomContent {
	top: 51%
	height: 49%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent in chrome */
}

input {
    outline: 0; /*for firefox*/
}

.sidenav label {
  display: block;
  padding-left: 10%;
  padding-bottom: 0;
  padding-top: 0;
  margin-right: 5px;
  text-indent: -15px;
  height: 20px;
  overflow: hidden;
}

.sidenav input {
  width: 18px;
  height: 18px;
  position: relative;
  float: right;
  
}

.sidenave hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 20px;
       height: 0;
       width: 92%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
}
/* end of sidenav elements */

path:hover {
	fill-opacity: 1;
}

.tab { 
       display:inline-block; 
       margin-left: 20px; 
}

/* loading screen elements*/

#loading-wrapper {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  scrollbar-width: none; /*for firefox*/
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #F00;
  border: 3px solid transparent;
  border-top-color: #063852;
  border-bottom-color: #063852;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
  scrollbar-width: none; /*for firefox*/
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0F0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
   border: 3px solid transparent;
  border-top-color: #bcbabe;
  border-bottom-color: #bcbabe;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  scrollbar-width: none; /*for firefox*/
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00F;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #1995ad;
  border-bottom-color: #1995ad;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
  scrollbar-width: none; /*for firefox*/
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*end loading screen elements*/

/*loaded class to make the loading screen disappear*/
.loaded #loading-text {
	opacity: 0;
	-webkit-transition: all 0.5s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.5s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.loaded #loading-content {
	opacity: 0;
	-webkit-transition: all 0.5s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.5s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.loaded #loading-wrapper {
	visibility: hidden;
	-webkit-transition: all 0.5s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.5s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
/*end loading screen elements*/



/* drop down button elements. Source: https://codepen.io/fabran99/pen/rReeJE*/
.menu{
    text-align: right;
    position: fixed;
    width: 20%;
    z-index: 200;
    right: 0;
	margin: 0;
	padding: 0;
}

#check{
	/* hide the checkbox because only the label is needed*/
    display: none;
}

.button{
    width: 48px;
    height: 48px;
    background: #00BFFF;
    padding: 12px;
    display: inline-block;
    transition: all 0.2s ease-in;
    padding-top: 8px;
    line-height: 8px;
    text-align: left;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 201;
}
.button:hover{
    background: #0099cc;
}
.button span{
    height: 3px;
    width: 100%;
    background: white;
    display: inline-block;
    transition: all 0.6s cubic-bezier(.62,.43,.35,1.47);
}

#check:checked ~ .button {
	border-radius: 0px 10px 0px 0px;
}

/* toggle icon animation */
#check:checked ~ .button span:nth-child(1){
    width: 100%;
    transform: rotate(45deg) translateY(6px) translateX(6px);
}
#check:checked ~ .button span:nth-child(2){
    width: 0;
}

#check:checked ~ .button span:nth-child(3){
    width: 100%;
    transform: rotate(-45deg) translateY(-7px) translateX(7px);
}

nav{
    text-align: left;
    overflow: hidden;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    height: 0;
	overflow-y: scroll;
	padding-right: 39px;
}
nav p{
    text-decoration: none;
    color: 	#696969;
    display: block;
    font-size: 16px;
    transition: all 0.5s cubic-bezier(.22,.43,.35,1.5);
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
	overflow-wrap: break-word;
}

nav p.thick {
	font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-right: 39px;
}

nav hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 20px;
       height: 0;
       width: 89%;
       font-size: 3px;
       line-height: 0;
       clear: both;
	   background-color: black;
	   border: 1px solid black;
}

/* the nav height will be set to the height in pixels that would have for default, 
using height:auto won't work but you can put that value in pixels creating the slide*/
#check:checked ~ nav{
    height: 260px;
	border-bottom: 10px solid white;
	border-radius: 10px 10px 10px 10px;
}

#check:checked ~ nav p{
    padding-right: 10px;
	padding-left: 10px;
    opacity: 1;
    transform: scale(1);
}
/*end drop down elements*/