* {
	font-family: Bookman;
	box-sizing:border-box;
	overflow-x: hidden;
}

body {
	background-color: #000;
}


canvas {
	position:absolute;
}

.sidenav {
  width: 0%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #000;
  background-color: rgba(0,0,0,.5);
  overflow-x: hidden;
  padding-left: 20px;
  color: white;
  transition: 1.5s;
  visible: false;
  scrollbar-width: none; /*for firefox*/
}

.spacecraftCheck {}

.gsCheck {}

.sidenav .topTitle {
	top: 0%;
	height: 20%;
}

.sidenav .topContent {
	top: 10%
	height: 20%;
}

.sidenav .bottomTitle {
	top: 30%
	height: 20%;
}

.sidenav .bottomContent {
	top: 47%
	height: 53%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent in chrome */
}

input {
    outline: 0; /*for firefox*/
}

label {
  display: block;
  padding-left: 10%;
  padding-bottom: 0;
  padding-top: 0;
  margin-right: 5px;
  text-indent: -15px;
  height: 20px;
  overflow: hidden;
}

input {
  width: 18px;
  height: 18px;
  position: relative;
  float: right;
  
}

hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 20px;
       height: 0;
       width: 92%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
}


path:hover {
	fill-opacity: 1;
}

.tags {
	position:absolute;
	left: 20px;
	bottom:40px;
}

#loading-wrapper {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  scrollbar-width: none; /*for firefox*/
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #F00;
  border: 3px solid transparent;
  border-top-color: #063852;
  border-bottom-color: #063852;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
  scrollbar-width: none; /*for firefox*/
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0F0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
   border: 3px solid transparent;
  border-top-color: #bcbabe;
  border-bottom-color: #bcbabe;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  scrollbar-width: none; /*for firefox*/
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00F;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #1995ad;
  border-bottom-color: #1995ad;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
  scrollbar-width: none; /*for firefox*/
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loaded #loading-text {
	opacity: 0;
	-webkit-transition: all 0.5s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.5s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.loaded #loading-content {
	opacity: 0;
	-webkit-transition: all 0.5s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.5s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.loaded #loading-wrapper {
	visibility: hidden;
	-webkit-transition: all 0.5s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.5s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}